<table>
    <thead>
        <tr>
            <th>Example 1</th>
        </tr>
        <tr>
            <th>Example 2</th>
        </tr>
        <tr>
            <th>Example 3</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                    <td>Example 11</td>
                    <td>Example 12</td>
                    <td>Example 13</td>
            </tr>
            <tr>
                    <td>Example 21</td>
                    <td>Example 22</td>
                    <td>Example 23</td>
            </tr>
            <tr>
                    <td>Example 31</td>
                    <td>Example 32</td>
                    <td>Example 33</td>
            </tr>
    </tbody>
</table>>