.container {
  display: grid;

  grid-template-areas:
    "header header"
    "nav content"
    "footer footer";

  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 10px;

  height: 100vh;
}

header {
  grid-area: header;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  grid-area: nav;
  margin-left: 0.5rem;
}

main {
  grid-area: content;
}

footer {
  grid-area: footer;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header"
      "nav"
      "content"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      minmax(75px, auto) /* Nav */
      1fr /* Content */
      minmax(75px, auto) /* Sidebar */
      auto; /* Footer */
  }

  nav {
    margin: 0;
  }
}

.collapsible {
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible .header {
  cursor: pointer;
}

  .collapsible:after {
      content: '\002B';
      font-weight: bold;
      float: right;
      margin-left: 5px;
  }

  .collapsible.active:after {
      content: "\2212";
  }

  .collapsible .content {
      padding: 0 18px;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
  }
